.metadata/

n-001-julian-calendar-backend/.classpath
n-001-julian-calendar-backend/.project
n-001-julian-calendar-backend/.settings/
n-001-julian-calendar-backend/target/

n-001-julian-calendar-frontend/.classpath
n-001-julian-calendar-frontend/.project
n-001-julian-calendar-frontend/.settings/
n-001-julian-calendar-frontend/target/

n-002-hacc-jsfgui/.classpath
n-002-hacc-jsfgui/.project
n-002-hacc-jsfgui/.settings/
n-002-hacc-jsfgui/target/

n-003-rest-date/.classpath
n-003-rest-date/.project
n-003-rest-date/.settings/
n-003-rest-date/target/

n-004-calypso/.classpath
n-004-calypso/.project
n-004-calypso/.settings/
n-004-calypso/target/

